<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="template-header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{js/main.js}"  src="../static/js/main.js"></script>-->
    <title>Ternak Ngudimulyo</title>
</head>

<body>
<div th:fragment="navbar-home">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Ternak Ngudimulyo</a>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/sapi}">Data Sapi</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" th:href="@{/profile}">My Profile</a>-->
<!--                </li>-->
                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Keluar</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="navbar-root">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Ternak Ngudimulyo</a>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" th:href="@{/registration}">Register</a>-->
<!--                </li>-->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}">Masuk</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="bottom-script">
    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</div>

<div th:fragment="delete-confirmation-popup">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Hapus Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Anda yakin menghapus data ini?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <a href =""  class="btn btn-danger"  id="delRef">Hapus</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="home-page">
    <div class="container text-center">
        <h1 class="text-center">Kelompok Ternak Ngudimulyo</h1>
        <br>
        <br>
        <br>
        <h3>Kontak</h3>
        <p>Telepon : 00222222</p>
        <p>Email : #@gmail.com</p>
        <p>Alamat : .....</p>
    </div>
    <br>


    <br>
    <br>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://kkn.ugm.ac.id/">KKN-PPM UGM 2020</a>
    </div>
</div>

</body>
</html>